@using Inventory.DataObjects.DTO
@model List<ItemsInReportQuery>

@{
    ViewBag.Title = "Consumable Items Report";
}

<style type="text/css">

    #inventoryGeneralReportTable th {
        white-space: nowrap;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content">

        @Html.Partial("_ThemeColors")

        <h1 class="page-title"> Generated Reports </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">Reports</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Consumable Item Report</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-bubbles font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Consumable Item Report</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="portlet_comments_1">
                                <div class="mt-comments">
                                    <table id="itemsInReportTable">
                                        <thead>
                                            <tr>
                                                <th>Item</th>
                                                <th>Description</th>
                                                <th>Maximum Qty</th>
                                                <th>Minimum Qty</th>
                                                <th>Available</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (ItemsInReportQuery item in Model)
                                                {
                                                    <tr class="odd gradeX">
                                                        <td>
                                                            @item.Name  @item.UnitAmount @(item.Unit == "Unit" ? "" : item.Unit)
                                                        </td>
                                                        <td>
                                                            @item.Description
                                                        </td>
                                                        <td>
                                                            @item.MaximumQuantity
                                                        </td>
                                                        <td>
                                                            @item.MinimumQuantity
                                                        </td>
                                                        <td>
                                                            @item.Quantity
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var table = $('#itemsInReportTable');

        var oTable = table.dataTable({
            "language": {
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                },
                "emptyTable": "No data available in table",
                "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "infoEmpty": "No entries found",
                "infoFiltered": "(filtered1 from _MAX_ total entries)",
                "lengthMenu": "_MENU_ entries",
                "search": "Search:",
                "zeroRecords": "No matching records found"
            },
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            "pageLength": 10,
            "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
            buttons: [
                { extend: 'print', className: 'btn dark btn-outline' },
                { extend: 'pdf', className: 'btn green btn-outline' },
                { extend: 'excel', className: 'btn yellow btn-outline ' }
            ],
            //responsive: true
        });

    });

</script>