@using Inventory.DataObjects.EDM
@using Inventory.DataObjects.DTO
@using Inventory.WebApplication.Global

@{
    ViewBag.Title = "Reports";

    List<ItemNames> itemName = ViewBag.ItemsNames as List<ItemNames>;
    List<AvailabilityStatu> availabilityStatus = ViewBag.AvailabilityStatus as List<AvailabilityStatu>;
    List<AspNetUser> users = ViewBag.Users as List<AspNetUser>;
}

<style type="text/css">

    .form-group.form-md-line-input {
        position: relative;
        margin: 0;
        padding-top: 20px;
        border-bottom: 1px solid #eef1f5;
    }
</style>

<div id="sendEmailModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input id="user_email" type="text" class="form-control" placeholder="Your email">
            </div>
            <div class="modal-footer">
                <button id="sendEmail" class="btn btn-primary" data-dismiss="modal">
                    @Translation.GetStringValue("SendAsEmail")
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reportSettingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label style="font-weight:bold;">@Translation.GetStringValue("ReportName")</label>
                    <input id="reportName_Settings" type="text" class="form-control" placeholder="@Translation.GetStringValue("ReportName")" disabled="disabled">
                </div>
                <div class="col-sm-12" style="padding:0;">
                    <div class="col-sm-6" style="padding:0;">
                        <div class="form-group">
                            <label class="english" style="font-weight:bold;">Received By Users</label>
                            <label class="arabic" style="font-weight:bold;">تلقى من قبل المستخدمين</label>
                            <div id="usersContainer" style="width:100%;">
                                @{
                                    foreach (var user in users)
                                    {
                                        <div>
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input value="@user.Id" type="checkbox" class="checkboxes">
                                                <span></span>
                                                <i style="font-style:normal;">@user.Email</i>
                                            </label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="english" style="font-weight:bold;">Send report on</label>
                            <label class="arabic" style="font-weight:bold;">إرسال تقرير على</label>
                            <div id="timeBasisContainer">
                                <div style="width:100%;">
                                    <div>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input value="dailyBasis" type="checkbox" class="checkboxes">
                                            <span></span>
                                            <i class="english" style="font-style:normal;">Daily basis</i>
                                            <i class="arabic" style="font-style:normal;">أساس يومي</i>
                                        </label>
                                    </div>
                                </div>
                                <div style="width:100%;">
                                    <div>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input value="weeklyBasis" type="checkbox" class="checkboxes">
                                            <span></span>
                                            <i class="english" style="font-style:normal;">Weekly basis</i>
                                            <i class="arabic" style="font-style:normal;">أساس أسبوعي</i>
                                        </label>
                                    </div>
                                </div>
                                <div style="width:100%;">
                                    <div>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input value="monthlyBasis" type="checkbox" class="checkboxes">
                                            <span></span>
                                            <i class="english" style="font-style:normal;">Monthly basis</i>
                                            <i class="arabic" style="font-style:normal;">على أساس شهري</i>
                                        </label>
                                    </div>
                                </div>
                                <div style="width:100%;">
                                    <div>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input value="yearlyBasis" type="checkbox" class="checkboxes">
                                            <span></span>
                                            <i class="english" style="font-style:normal;">Yearly basis</i>
                                            <i class="arabic" style="font-style:normal;">أساس سنوي</i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label style="width:100%;">
                        <i style="cursor:pointer; margin:4px;" class="fa fa-plus pull-left addNewQuery" aria-hidden="true"></i>
                        <span class="english" style="font-size:16px; font-weight:bold;">Query</span>
                        <span class="arabic" style="font-size:16px; font-weight:bold;">استعلام</span>
                    </label>
                    <div id="queryIDContainer">

                    </div>

                    <div class="newQueryContainer" style="width:100%; display:none;">
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <label class="english" style="font-weight:bold;">New query</label>
                                <label class="arabic" style="font-weight:bold;">استعلام جديد</label>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:15px;">
                            <div class="col-sm-6">
                                <label style="width:100%;">@Translation.GetStringValue("ItemName")</label>
                                <select id="itemName" style="width:100%;">
                                    @{
                                        foreach (var item in itemName)
                                        {
                                            <option value="@item.ItemName">@item.ItemName - @item.ItemName_Arabic</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="english" style="width:100%;">By Availibility</label>
                                <label class="arabic" style="width:100%;">حسب التوفر</label>
                                <select id="itemAvailability" style="width:100%;">
                                    @{
                                        foreach (var availability in availabilityStatus)
                                        {
                                            <option value="@availability.Id">@availability.Status</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:15px;">
                            <div class="col-sm-3">
                                <input id="minQuantity" type="number" class="form-control" placeholder="@Translation.GetStringValue("MinQuantity")" />
                            </div>
                            <div class="col-sm-3">
                                <input id="maxQuantity" type="number" class="form-control" placeholder="@Translation.GetStringValue("MaxQuantity")" />
                            </div>
                            <div class="col-sm-3">
                                <input id="minPrice" type="number" class="form-control" placeholder="@Translation.GetStringValue("MinPrice")" />
                            </div>
                            <div class="col-sm-3">
                                <input id="maxPrice" type="number" class="form-control" placeholder="@Translation.GetStringValue("MaxPrice")" />
                            </div>
                        </div>
                        <div class="row" style="padding-bottom:15px;">
                            <div class="col-sm-3">
                                <button id="createQuery" type="button" class="btn btn-primary">@Translation.GetStringValue("Create")</button>
                            </div>
                        </div>
                    </div>

                </div>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translation.GetStringValue("Cancel")</button>
                <button id="updateSettings" type="button" class="btn btn-primary" data-dismiss="modal">@Translation.GetStringValue("Update")</button>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="page-content">

        @Html.Partial("_ThemeColors")

        <h1 class="page-title"> @Translation.GetStringValue("Reports") </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">@Translation.GetStringValue("Home")</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Translation.GetStringValue("Reports")</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered" style="padding-top:0px;padding-bottom:0px;">
                    <div class="portlet-body">
                        <div class="row widget-row">
                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Inventory General Report / Store Data Report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">جرد التقرير العام / تقرير تخزين البيانات</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It shows a detailed view of the yearly inventory. It is used for budgeting.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            إنه يعرض عرضًا تفصيليًا للمخزون السنوي.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("InventoryGeneralReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('InventoryGeneralReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('1','Inventory General Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Maintenance Report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير الصيانة</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            Maintenance prices by items.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            تقرير الصيانة
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("MaintenanceReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('MaintenanceReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('11','Maintenance Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Items In Report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;"> تقرير عناصر في المخزون</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It shows the exact date and time of items entering the stock system.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            يعرض التاريخ والوقت الدقيق للعناصر التي تدخل نظام المخزون.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("ItemsInReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('ItemsInReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('2','Items In Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Non-Consumable status report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير السلع الغير الإستهلاكية</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            since non-consumable items are used and returned back to the stock, this report is
                                            created to check its date out, date in and current place.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            تحقق أو ابحث عن مكان عنصر غير مستهلك.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("SearchForNonConsumableReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('SearchForNonConsumableReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('3','Search for Non-Consumable Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Daily Report </label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير يومي </label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            This report remind stock keepers of the items date of return.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            هذا التقرير تذكير حفظة الأسهم من البنود تاريخ العودة.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("DailyReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('DailyReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('4','Daily Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Consumable Item Report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير المواد الاستهلاكية</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            This report is monthly generated. It shows the movement of consumable items.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            هذا يدل على حركة المواد الاستهلاكية.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("ConsumableItemsReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('ConsumableItemsReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('5','Consumable Item Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Non-Consumable Item Report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير المواد غير المستهلكة</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It shows the movement of non-consumable items.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            فإنه يدل على حركة العناصر غير الاستهلاكية.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("NonConsumableItemsReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('NonConsumableItemsReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('6','Non-Consumable Item Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Inventory General Report </label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير المخزون العام </label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It shows detailed movement of all inventory items with their costs and total gross value.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            يُظهر الحركة التفصيلية لجميع عناصر المخزون مع تكاليفها وإجمالي القيمة.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("FullInventoryGeneralReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('FullInventoryGeneralReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('7','Inventory General Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Budget Line / Statement of Account</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">بند الميزانية / بيان الحساب</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It shows the movement of all items in one category at a time.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            فإنه يدل على حركة جميع العناصر في فئة واحدة في وقت واحد.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("BudgetLineStatementOfAccountReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('BudgetLineStatementOfAccountReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('8','Budget Line Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Quantity Report</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تقرير الكمية</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It shows quantity of items In and Out.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            فإنه يظهر كمية من العناصر داخل وخارج.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("QuantityReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('QuantityReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('9','Quantity Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">Transfer Report from a school to another</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;"> تقرير نقل من مدرسة إلى أخرى</label>
                                        <br />
                                        <label class="english" style="color:darkgrey">This report shows items transferred from a school to another.</label>
                                        <label class="arabic" style="color:darkgrey">يعرض هذا التقرير العناصر المنقولة من مدرسة إلى أخرى.</label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("SchoolTransferReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            <li>
                                                <a href="javascript:openEmailModal('SchoolTransferReport');">@Translation.GetStringValue("SendAsEmail")</a>
                                            </li>
                                            <li class="divider"> </li>
                                            <li>
                                                <a href="javascript:reportSettings('10','Transfer Report from a school to another Report');">@Translation.GetStringValue("ReportSettings")</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label" style="padding:20px;">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        <label class="english" style="font-weight:bold;font-size:16px;">ABC Analysis</label>
                                        <label class="arabic" style="font-weight:bold;font-size:16px;">تحليل ABC</label>

                                        <br />
                                        <label class="english" style="color:darkgrey">
                                            It is used to compare items vale/ cost and quantity for future decisions.
                                        </label>
                                        <label class="arabic" style="color:darkgrey">
                                            يتم استخدامه لمقارنة تكلفة العناصر والكمية للقرارات المستقبلية.
                                        </label>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <button type="button" class="btn green-haze dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            @Translation.GetStringValue("Action")
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a href="@Url.Action("ABCAnalysisReport","Reports")">@Translation.GetStringValue("Generate")</a>
                                            </li>
                                            @*<li>
                            <a href="javascript:sendEmail('ABCAnalysisReport');">@Translation.GetStringValue("SendAsEmail")</a>
                        </li>*@
                                            @*<li class="divider"> </li>
                        <li>
                            <a href="@Url.Action("ReportSettings","Reports", new { Id = "11" });">@Translation.GetStringValue("ReportSettings")</a>
                        </li>*@
                                        </ul>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        reportActive();
        $('#itemName').select2();
        $('#itemAvailability').select2();

        $('.addNewQuery').click(function () {

            if ($(this).hasClass('fa-plus')) {
                $(this).removeClass('fa-plus');
                $(this).addClass('fa-minus');
            } else {
                $(this).removeClass('fa-minus');
                $(this).addClass('fa-plus');
            }
            $('.newQueryContainer').toggle();

        });

        $('#updateSettings').click(function () {

            var reportID = $('#itemName').attr('data-reportID');
            var reportName = $('#reportName_Settings').val();

            var userID = [];
            var queriesID = [];
            var dailyBasis = false;
            var weeklyBasis = false;
            var monthlyBasis = false;
            var yearlyBasis = false;

            $('#usersContainer label input:checked').each(function () {
                userID.push($(this).val());
            });

            $('#timeBasisContainer label input:checked').each(function () {
                switch ($(this).val()) {
                    case 'dailyBasis':
                        dailyBasis = true;
                        break;
                    case 'weeklyBasis':
                        weeklyBasis = true;
                        break;
                    case 'monthlyBasis':
                        monthlyBasis = true;
                        break;
                    case 'yearlyBasis':
                        yearlyBasis = true;
                        break;
                    default:
                        break;
                }
            });
            
            $('#queryIDContainer label input:checked').each(function () {
                queriesID.push($(this).val());
            });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '@Url.Action("CreateReportSettings","Reports")?ReportID=' + reportID
                    + '&ReportName=' + reportName
                    + '&ReceivedByUsers=' + userID
                    + '&DailyBasis=' + dailyBasis
                    + '&WeeklyBasis=' + weeklyBasis
                    + '&MonthlyBasis=' + monthlyBasis
                    + '&YearlyBasis=' + yearlyBasis,
                    //+ '&SpecificDates=' +
                    //+ '&QueryBasis=',
                success: function (response) {

                }
            });

        });

    });

    $('#createQuery').click(function () {

        var reportName = $('#reportName').val();
        var reportID = $('#itemName').attr('data-reportID');
        var itemName = $('#itemName').val();
        var itemAvailability = $('#itemAvailability').val();
        var minQuantity = $('#minQuantity').val();
        var maxQuantity = $('#maxQuantity').val();
        var minPrice = $('#minPrice').val();
        var maxPrice = $('#maxPrice').val();

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("CreateQuery","Reports")?itemName=' + itemName +
                '&reportID=' + reportID +
                '&itemAvailability=' + itemAvailability +
                '&minQuantity=' + minQuantity + 
                '&maxQuantity=' + maxQuantity + 
                '&minPrice=' + minPrice +
                '&maxPrice=' + maxPrice,
            success: function (response) {
                reportSettings(reportID, reportName);
            }
        });

    });

    function reportSettings(reportID, reportName) {

        $('#reportName_Settings').val(reportName);
        $('#itemName').attr('data-reportID', reportID);
        $('#reportSettingModal').modal('show');

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("GetReportSettings","Reports")?reportID=' + reportID,
            success: function (response) {
                console.log('report settings retreived');
                console.log(response);

                var reportSettings = response.reportSettings;
                console.log('v.DailyBasis = ' + reportSettings.DailyBasis);
                $('#timeBasisContainer label input').each(function () {
                    switch ($(this).val()) {
                        case 'dailyBasis':
                            $(this).prop("checked", reportSettings.DailyBasis);
                            break;
                        case 'weeklyBasis':
                            $(this).prop("checked", reportSettings.WeeklyBasis);
                            break;
                        case 'monthlyBasis':
                            $(this).prop("checked", reportSettings.MonthlyBasis);
                            break;
                        case 'yearlyBasis':
                            $(this).prop("checked", reportSettings.YearlyBasis);
                            break;
                        default:
                            break;
                    }
                });

                var receivedByUsers = reportSettings.ReceivedByUsers.split(",");
                $.each(receivedByUsers, function (k, v) {
                    console.log('v = ' + v);
                    $('#usersContainer label input').each(function () {
                        if (v == $(this).val()) {
                            $(this).prop("checked", true);
                        }
                    });
                });


                var listOfReportQuery = response.listOfReportQuery;

                var queriesAvailable = '';
                $.each(listOfReportQuery, function(k, v) {
                    console.log(v);

                    queriesAvailable += '<div class="queryContainer" style="padding:10px;width:100%;">';
                    queriesAvailable += '<div>';
                    queriesAvailable += '<label>';
                    queriesAvailable += '<i data-ID="' + v.Id + '" style="font-style:normal;padding: 5px;font-size: 20px;cursor: pointer;" class="fa fa-2x fa-trash deleteQuery"></i>';
                    queriesAvailable += v.ItemName;
                    if (v.MinimumQuantity != null) {
                        queriesAvailable += ' Count less than ' + v.MinimumQuantity;
                    }
                    if (v.MaximumQuantity != null) {
                        queriesAvailable += ' Count higher than ' + v.MaximumQuantity;
                    }
                    if (v.MinimumPrice != null) {
                        queriesAvailable += ' Price less than ' + v.MinimumPrice;
                    }
                    if (v.MaximumPrice != null) {
                        queriesAvailable += ' Price higher than ' + v.MaximumPrice;
                    }
                    queriesAvailable += ' For availability ' + v.AvailabilityStatusID;
                    queriesAvailable += '</div>';
                    queriesAvailable += '</div>';
                });

                $('#queryIDContainer').html(queriesAvailable);
            }
        });
    }

    $(document).on('click', '.deleteQuery', function () {

        var queryID = $(this).attr('data-ID');
        $(this).parent().parent().parent().remove();
        
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("DeleteQuery","Reports")?queryID=' + queryID,
            success: function (response) {
            }
        });
    });

    var reportNameGlobal = '';
    function openEmailModal(reportName) {
        reportNameGlobal = reportName;
        $('#sendEmailModal').modal('show');
        console.log('reportNameGlobal = ' + reportNameGlobal);
    }

    $(document).ready(function () {

        $('#sendEmail').click(function () {
            var url = reportNameGlobal + '_Email?email=' + $('#user_email').val();
            console.log('url = ' + url);
            $.ajax({
                url: url,
                type: "POST",
                success: function (data) {
                    $('#success_tic').modal('show');
                }
            });
        });

    });

    //function sendEmail() {
    //    var url = reportName + '_Email?email=' + $('#user_email').val();
    //    console.log('url = ' + url);
    //    $.ajax({
    //        url: url,
    //        type: "POST",
    //        success: function (data) {
    //            $('#success_tic').modal('show');
    //        }
    //    });
    //}

</script>