@using Inventory.DataObjects.EDM
@using Inventory.WebApplication.Global

@{     
    List<PageManagement> PageManagement = ViewBag.PageManagement as List<PageManagement>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="manifest" href="/manifest.webmanifest">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for statistics, charts, recent events and reports" name="description" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/morris/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/jqvmap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/global/css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/layouts/layout/css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/layouts/layout/css/themes/darkblue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/assets/layouts/layout/css/custom.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/select2.css")" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Cairo&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico" />



    <link rel="stylesheet" href="@Url.Content("~/assets/jquery-confirm.min.css")">

    <style type="text/css">

        .groupItem {
            background-color: lightgrey !important;
        }

        .jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content {
            overflow: visible;
        }

        .jconfirm-content {
            margin-top: 20px;
        }

        .jconfirm-content-pane.no-scroll {
            height: 40px !important;
        }

        .nav.nav-pills li.active {
            background: #05AE0E;
        }

        .nav-pills {
            background-color: transparent !important;
        }

        .wizard-card[data-color="green"] .moving-tab {
            display: none !important;
        }

        input[type=checkbox] {
            transform: scale(1.5);
        }

        table.dataTable tr th.select-checkbox.selected::after {
            content: "✔";
            margin-top: -11px;
            margin-left: -4px;
            text-align: center;
            text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
        }

        .text-danger {
            color: black;
            font-weight: bold;
        }

        body {
            background-color: #2e8b57;
        }

        .page-sidebar {
            background-color: #2e8b57;
        }

        .page-header.navbar {
            background-color: #2e8b57;
        }

        /*.portlet.light .dataTables_wrapper .dt-buttons{
            margin-top:-86px;
        }*/

        .widget-thumb.bordered {
            min-height: 300px;
        }

        .widget-thumb .widget-thumb-heading {
            height: 50px;
        }

        .widget-thumb .widget-thumb-body {
            overflow: hidden;
            position: absolute;
            bottom: 80px;
        }

        .widget-thumb-wrap img {
            width: 50px;
            margin-right: 15px;
            float: left;
        }

        .center {
            text-align: center;
        }

        .goToButton {
            position: absolute;
            left: 0;
            text-align: center;
            bottom: 35px;
            width: 100%;
        }

        .addNewItemsSection:hover {
            cursor: pointer;
            background-color: #f1f4f7;
        }

        .editItemsSection:hover {
            cursor: pointer;
            background-color: #f1f4f7;
        }

        .intoStock:hover {
            cursor: pointer;
            background-color: #f1f4f7;
        }

        .outOfStock:hover {
            cursor: pointer;
            background-color: #f1f4f7;
        }
    </style>

    <style type="text/css">

        /*.widget-thumb.bordered {
            min-height: 200px;
        }*/

        .widget-thumb-wrap img {
            width: 50px;
            margin-right: 15px;
            float: left;
        }

        .dropdown.dropdown-user .dropdown-menu li {
            height: 34px;
        }

        #logoutForm form {
            display: table;
        }

        #logoutForm a {
            float: left;
            width: 100%;
            display: table-cell;
            padding: 5px 5px 5px 15px;
        }

        #logoutForm i {
            width: 15px;
            display: inline-block;
            margin-right: 9px;
        }

        .dropdown-menu li a {
            color: #555 !important;
            text-decoration: none;
        }

        .dropdown-menu li:hover a {
            text-decoration: none;
            background-image: none;
            background-color: #f6f6f6;
            color: #555;
            filter: none;
        }
    </style>

    <style>
        /*the container must be positioned relative:*/
        .autocomplete {
            position: relative;
            display: inline-block;
        }

        .autocomplete-items {
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            top: 100%;
            left: 0;
            right: 0;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                /*when hovering an item:*/
                .autocomplete-items div:hover {
                    background-color: #e9e9e9;
                }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

        /*.modal-dialog {
            width: 300px!important;
            margin: 30px auto;
        }*/
    </style>

    <style type="text/css">

        #success_tic .page-body {
            max-width: 300px;
            background-color: #FFFFFF;
            margin: 10% auto;
        }

            #success_tic .page-body .head {
                text-align: center;
            }

        #success_tic .close {
            opacity: 1;
            position: absolute;
            right: 0px;
            top: 15px;
            font-size: 30px;
            padding: 3px 15px;
            margin-bottom: 10px;
        }

        #success_tic .checkmark-circle {
            width: 100px;
            height: 100px;
            position: relative;
            display: inline-block;
            vertical-align: top;
        }

        .checkmark-circle .background {
            width: 100px;
            height: 100px;
            border-radius: 50% !important;
            background: #1ab394;
            position: absolute;
        }

        #success_tic .checkmark-circle .checkmark {
            border-radius: 5px;
        }

            #success_tic .checkmark-circle .checkmark.draw:after {
                -webkit-animation-delay: 300ms;
                -moz-animation-delay: 300ms;
                animation-delay: 300ms;
                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                animation-duration: 1s;
                -webkit-animation-timing-function: ease;
                -moz-animation-timing-function: ease;
                animation-timing-function: ease;
                -webkit-animation-name: checkmark;
                -moz-animation-name: checkmark;
                animation-name: checkmark;
                -webkit-transform: scaleX(-1) rotate(135deg);
                -moz-transform: scaleX(-1) rotate(135deg);
                -ms-transform: scaleX(-1) rotate(135deg);
                -o-transform: scaleX(-1) rotate(135deg);
                transform: scaleX(-1) rotate(135deg);
                -webkit-animation-fill-mode: forwards;
                -moz-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
            }

            #success_tic .checkmark-circle .checkmark:after {
                opacity: 1;
                height: 50px;
                width: 22.5px;
                -webkit-transform-origin: left top;
                -moz-transform-origin: left top;
                -ms-transform-origin: left top;
                -o-transform-origin: left top;
                transform-origin: left top;
                border-right: 15px solid #fff;
                border-top: 15px solid #fff;
                border-radius: 2.5px !important;
                content: '';
                left: 10px;
                top: 60px;
                position: absolute;
            }

        @@-webkit-keyframes checkmark {
            0% {
                height: 0;
                width: 0;
                opacity: 1;
            }

            20% {
                height: 0;
                width: 37.5px;
                opacity: 1;
            }

            40% {
                height: 75px;
                width: 37.5px;
                opacity: 1;
            }

            100% {
                height: 75px;
                width: 37.5px;
                opacity: 1;
            }
        }

        @@-moz-keyframes checkmark {
            0% {
                height: 0;
                width: 0;
                opacity: 1;
            }

            20% {
                height: 0;
                width: 37.5px;
                opacity: 1;
            }

            40% {
                height: 75px;
                width: 37.5px;
                opacity: 1;
            }

            100% {
                height: 75px;
                width: 37.5px;
                opacity: 1;
            }
        }

        @@keyframes checkmark {
            0% {
                height: 0;
                width: 0;
                opacity: 1;
            }

            20% {
                height: 0;
                width: 37.5px;
                opacity: 1;
            }

            40% {
                height: 75px;
                width: 37.5px;
                opacity: 1;
            }

            100% {
                height: 75px;
                width: 37.5px;
                opacity: 1;
            }
        }

        .arabic {
            display: none;
        }
    </style>

    <style id="right_to_left_direction" type="text/css">

        .page-sidebar-reversed .page-logo {
            float: right !important;
        }

        .page-sidebar-reversed .top-menu {
            float: left !important;
        }

        .page-sidebar-reversed .page-title {
            float: right !important;
        }

        .page-sidebar-reversed .theme-panel.hidden-xs.hidden-sm {
            float: left !important;
        }

        .page-sidebar-reversed .theme-panel > .toggler {
            left: 0 !important;
            right: 90% !important;
        }

        .page-sidebar-reversed .page-bar {
            direction: rtl !important;
        }

        .page-sidebar-reversed .page-content {
            direction: rtl !important;
        }

        .page-sidebar-reversed .feeds li .col1 > .cont > .cont-col1 {
            float: right !important;
            margin-left: -100% !important;
        }

        .page-sidebar-reversed .feeds li .col1, .feeds li .col1 > .cont > .cont-col2 {
            width: 100% !important;
            float: right !important;
        }

            .page-sidebar-reversed .feeds li .col1 > .cont > .cont-col1 {
                float: right !important;
                margin-left: -100% !important;
                margin-right: 0 !important;
            }

            .page-sidebar-reversed .feeds li .col1 > .cont {
                float: right !important;
                margin-left: 75px !important;
                margin-right: 0px;
                overflow: hidden !important;
            }

        .page-sidebar-reversed .feeds li .col1, .feeds li .col1 > .cont > .cont-col2 {
            width: 100% !important;
            float: right !important;
        }

            .page-sidebar-reversed .feeds li .col1 > .cont > .cont-col2 > .desc {
                margin-right: 45px !important;
                padding-top: 4px !important;
                padding-bottom: 5px !important;
                overflow: hidden !important;
            }

        .page-sidebar-reversed .page-title {
            padding-right: 10px;
            padding-top: 10px;
        }

        .page-sidebar-reversed .portlet > .portlet-title > .caption {
            float: right;
        }

        .page-sidebar-reversed .theme-panel {
            margin-top: -50px;
        }

        .page-sidebar-reversed .widget-thumb-wrap img {
            float: right;
        }

        .page-sidebar-reversed .english {
            display: none !important;
        }

        .page-sidebar-reversed .arabic {
            display: contents !important;
        }

        .page-sidebar-reversed .dataTables_wrapper .dt-buttons {
            float: left !important;
        }

        .page-sidebar-reversed #assignActionContainer {
            float: right !important;
        }

        #editActionContainer {
            display: none;
        }

        .page-sidebar-reversed #editActionContainer {
            float: right !important;
        }

        .page-sidebar-reversed .modal-body {
            direction: rtl;
        }

        .page-sidebar-reversed .createNew {
            float: left !important;
        }

        .page-sidebar-reversed .control-label.col-md-2 {
            float: right;
        }

        .page-sidebar-reversed .control-label.col-md-3 {
            float: right;
        }

        .page-sidebar-reversed .form-group .col-md-4 {
            float: right;
        }

        .page-sidebar-reversed table th {
            text-align: right;
        }

        .page-sidebar-reversed .dropdown-menu-right, .dropdown-menu.pull-right {
            right: unset;
            left: 10px;
        }

        body, h1, h2, h3, h4, h5, h6 {
            font-family: 'Cairo' !important;
        }
    </style>

    <style>

        .page-sidebar .page-sidebar-menu > li > a > i[class*=icon-], .page-sidebar .page-sidebar-menu > li > a > i[class^=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*=icon-], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^=icon-] {
            color: white;
        }

        .page-sidebar .page-sidebar-menu > li > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i {
            color: white;
        }

        .widget-thumb .widget-thumb-wrap {
            overflow: hidden;
            text-align: center;
            display: grid;
        }

        .widget-thumb-wrap img {
            width: 85px !important;
            margin: auto !important;
        }
    </style>


    <script src="@Url.Content("~/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/select2.full.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/jquery-confirm.min.js")" type="text/javascript"></script>

</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo">
    <div class="page-wrapper">

        <div id="success_tic" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <a class="close" href="#" data-dismiss="modal">X</a>
                    <div class="page-body">
                        <div class="head">
                            <h3 style="margin-top:5px; font-size:19px;">Request Completed</h3>
                        </div>

                        <h1 style="text-align:center;">
                            <div class="checkmark-circle">
                                <div class="background"></div>
                                <div class="checkmark draw"></div>
                            </div>
                        </h1>

                    </div>
                </div>
            </div>

        </div>

        <div id="error_result_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <a class="close" href="#" data-dismiss="modal">X</a>
                    <div class="page-body">
                        <div class="head" style="text-align:center;padding:15px;">
                            <h3 style="margin-top:5px; font-size:30px; color:red;">Error</h3>
                        </div>
                        <div class="modal-body" style="text-align:center;font-size:25px;padding-top:0px;">
                            An error occurred
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="page-header navbar navbar-fixed-top" style="height:70px;">
            <div class="page-header-inner ">
                <div class="page-logo">
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                </div>
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span></span>
                </a>
                <div class="top-menu" style="padding:15px;">
                    <a id="chooseEnglish" style="text-decoration:none; color:white;">English</a>
                    <span style="color:white;">|</span>
                    <a id="chooseArabic" style="text-decoration:none; color:white;">عربية</a>
                </div>
                <div class="top-menu">
                    <div style="width:350px;float:right;">
                        <img style="width:70px; float:right;" src="@Url.Content("~/Images/logo/ministry-logo.png")" />
                        <p style="float:right; margin:15px 5px;font-weight:bold;">
                            الجمهورية اللبنانية

                            وزارة الزراعة
                        </p>
                    </div>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                @*<img alt="" class="img-circle" src="../assets/layouts/layout/img/avatar3_small.jpg" />*@
                                <i class="img-circle fa fa-user fa-2x"></i>
                                <span class="username username-hide-on-mobile"> @User.Identity.Name </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right", @style = "width:100%; float:left!important;" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <a href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="icon-key"></i>
                                            Log Out
                                        </a>
                                    }
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                <div class="page-sidebar navbar-collapse collapse">
                    <ul class="page-sidebar-menu  page-header-fixed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                        <li class="sidebar-toggler-wrapper hide">
                            <div class="sidebar-toggler">
                                <span></span>
                            </div>
                        </li>
                        <li id="dashboardParentTab" class="nav-item start">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="icon-home"></i>
                                <span class="title">@Translation.GetStringValue("Home")</span>
                                <span class="selected"></span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu" style="display: none;">
                                @{
                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Home")?.Allowed))
                                    {
                                        <li id="dashboardTab" class="nav-item start">
                                            <a href="@Url.Action("Index","Home")" class="nav-link ">
                                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                                <span class="title">@Translation.GetStringValue("HomeInner")</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    }
                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Reports")?.Allowed))
                                    {
                                        <li id="reportTab" class="nav-item start">
                                            <a href="@Url.Action("Index","Reports")" class="nav-link ">
                                                <i class="fa fa-flag-o" aria-hidden="true"></i>
                                                <span class="title">@Translation.GetStringValue("Reports")</span>
                                                <span class="selected"></span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                        @{
                            if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Transactions")?.Allowed))
                            {
                                <li id="transactionsTab" class="heading" style="padding:0;">
                                    <a href="@Url.Action("Transactions","Home")" class="uppercase">
                                        <i class="icon-graph"></i>
                                        <span class="title">@Translation.GetStringValue("Transactions")</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            }

                            if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "TransactionsHistory")?.Allowed))
                            {
                                <li id="transactionsHistoryTab" class="heading" style="padding:0;">
                                    <a href="@Url.Action("TransactionsHistory","Home")">
                                        <i class="fa fa-history" aria-hidden="true"></i>
                                        <span class="title">@Translation.GetStringValue("TransactionsHistory")</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            }
                        }
                        <li id="itemsParentTab" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-bullhorn"></i>
                                <span class="title">@Translation.GetStringValue("Items")</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu" style="display: none;">
                                @{
                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "AddItems")?.Allowed)
                                        || Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "DeleteItems")?.Allowed))
                                    {
                                        <li id="itemsTab" class="nav-item">
                                            <a href="@Url.Action("Route","Items")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("CreateDelete")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Pricing")?.Allowed))
                                    {
                                        <li id="itemsPricingTab" class="nav-item">
                                            <a href="@Url.Action("Pricing","Items")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Pricing")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "TransferApproval")?.Allowed))
                                    {
                                        <li id="itemsTransferApprovalTab" class="nav-item">
                                            <a href="@Url.Action("ApproveTransferPage","Items")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("ApproveTransfer")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Deteriorated")?.Allowed))
                                    {
                                        <li id="categoriesTab" class="nav-item">
                                            <a href="@Url.Action("Deteriorated","Home")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Deteriorated")</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                        <li id="usersParentTab" class="nav-item">
                            <a href="javascript:;" class="nav-link nav-toggle">
                                <i class="fa fa-user"></i>
                                <span class="title">@Translation.GetStringValue("Management")</span>
                                <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu" style="display: none;">
                                @{
                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Users")?.Allowed))
                                    {
                                        <li id="usersTab" class="nav-item">
                                            <a href="@Url.Action("Index","Users")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Users")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Roles")?.Allowed))
                                    {
                                        <li id="rolesTab" class="nav-item">
                                            <a href="@Url.Action("Index","Roles")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Roles")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "PageManagement")?.Allowed))
                                    {
                                        <li id="pageManagementTab" class="nav-item">
                                            <a href="@Url.Action("Index","PageManagement")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("PageManagement")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Suppliers")?.Allowed))
                                    {
                                        <li id="suppliersTab" class="nav-item">
                                            <a href="@Url.Action("Index","Suppliers")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Suppliers")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Availability")?.Allowed))
                                    {
                                        <li id="statusesTab" class="nav-item">
                                            <a href="@Url.Action("Index","AvailabilityStatus")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Availability")</span>
                                            </a>
                                        </li>
                                    }

                                    if (Convert.ToBoolean(PageManagement.FirstOrDefault(x => x.PageName == "Units")?.Allowed))
                                    {
                                        <li id="unitTab" class="nav-item">
                                            <a href="@Url.Action("Index","Units")" class="nav-link ">
                                                <span class="title">@Translation.GetStringValue("Unit")</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>

    <script src="@Url.Content("~/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/morris/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/morris/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/counterup/jquery.counterup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/amcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/serial.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/pie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/radar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/themes/light.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/themes/patterns.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amcharts/themes/chalk.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/ammap/ammap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/amcharts/amstockcharts/amstock.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/horizontal-timeline/horizontal-timeline.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/flot/jquery.flot.categories.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/pages/scripts/dashboard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/pages/scripts/table-datatables-managed.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/layout/scripts/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/layout/scripts/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/global/scripts/quick-sidebar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/layouts/global/scripts/quick-nav.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/pages/scripts/components-date-time-pickers.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/global/scripts/jquery.cookie.js")" type="text/javascript"></script>


    <script id="languageScript" type="text/javascript">

        $(document).ready(function () {

            var cookieVal = $.cookie("language");

            if (cookieVal == 'arabic') {
                $('#chooseArabic').css('color', '#36c6d3');
                $('#chooseEnglish').css('color', 'white');
                $('body.page-header-fixed.page-sidebar-closed-hide-logo').addClass('page-sidebar-reversed');

                $('.fa-angle-right').each(function () {
                    $(this).removeClass('fa-angle-right');
                    $(this).addClass('fa-angle-left');
                });

                $('.english').text('');

            } else {
                $('#chooseArabic').css('color', 'white');
                $('#chooseEnglish').css('color', '#36c6d3');

                $('.arabic').text('');
            }
        });

        $(document).on('click', '#chooseArabic', function () {
            var languageCookie = $.cookie("language");
            var languageVal = 'arabic';
            $.cookie('language', languageVal, { path: '/', expires: 10000 });
            if (languageVal != languageCookie) {
                location.reload();
            }
        });
        
        $(document).on('click', '#chooseEnglish', function () {
            var languageCookie = $.cookie("language");
            var languageVal = 'english';
            $.cookie('language', languageVal, { path: '/', expires: 10000 });
            if (languageVal != languageCookie) {
                location.reload();
            }
        });

    </script>

    <script>

        $(document).ready(function () {

            $('#categoriesFilterContainer').click(function () {

                console.log('clicked');

                $(this).parent().find('.portlet-body').slideToggle("slow", function () { });

                var arrowElement = $(this).find('i.fa');
                if (arrowElement.hasClass('fa-chevron-down')) {
                    arrowElement.removeClass('fa-chevron-down');
                    arrowElement.addClass('fa-chevron-up');
                } else {
                    arrowElement.removeClass('fa-chevron-up');
                    arrowElement.addClass('fa-chevron-down');
                }

            });

            //$('body.page-header-fixed.page-sidebar-closed-hide-logo').addClass('page-sidebar-reversed');
        });

        //$(document).on('change', '#schools', function () {
        //    var schoolDB = $(this).val();
        //    $.cookie('schoolDB', schoolDB, { path: '/' });

        //    location.reload();
        //});

        function dashboardActive() {
            $('#dashboardParentTab').addClass('active');
            $('#dashboardParentTab').addClass('open');
            $('#dashboardParentTab .arrow').addClass('open');
            $('#dashboardParentTab .sub-menu').css('display', 'block');
            $('#dashboardTab').addClass('active');
        }

        function reportActive() {
            $('#dashboardParentTab').addClass('active');
            $('#dashboardParentTab').addClass('open');
            $('#dashboardParentTab .arrow').addClass('open');
            $('#dashboardParentTab .sub-menu').css('display', 'block');
            $('#reportTab').addClass('active');
        }

        function itemsActive() {
            $('#itemsParentTab').addClass('active');
            $('#itemsParentTab').addClass('open');
            $('#itemsParentTab .arrow').addClass('open');
            $('#itemsParentTab .sub-menu').css('display', 'block');
            $('#itemsTab').addClass('active');
        }

        function pricingActive() {
            $('#itemsParentTab').addClass('active');
            $('#itemsParentTab').addClass('open');
            $('#itemsParentTab .arrow').addClass('open');
            $('#itemsParentTab .sub-menu').css('display', 'block');
            $('#itemsPricingTab').addClass('active');
        }

        function usersActive() {
            $('#usersParentTab').addClass('active');
            $('#usersParentTab').addClass('open');
            $('#usersParentTab .arrow').addClass('open');
            $('#usersParentTab .sub-menu').css('display', 'block');
            $('#usersTab').addClass('active');
        }

        function pageManagementActive() {
            $('#usersParentTab').addClass('active');
            $('#usersParentTab').addClass('open');
            $('#usersParentTab .arrow').addClass('open');
            $('#usersParentTab .sub-menu').css('display', 'block');
            $('#pageManagementTab').addClass('active');
        }

        function pageStatusesActive() {
            $('#usersParentTab').addClass('active');
            $('#usersParentTab').addClass('open');
            $('#usersParentTab .arrow').addClass('open');
            $('#usersParentTab .sub-menu').css('display', 'block');
            $('#statusesTab').addClass('active');
        }

        function pageUnitsActive() {
            $('#usersParentTab').addClass('active');
            $('#usersParentTab').addClass('open');
            $('#usersParentTab .arrow').addClass('open');
            $('#usersParentTab .sub-menu').css('display', 'block');
            $('#unitTab').addClass('active');
        }

        function suppliersActive() {
            $('#usersParentTab').addClass('active');
            $('#usersParentTab').addClass('open');
            $('#usersParentTab .arrow').addClass('open');
            $('#usersParentTab .sub-menu').css('display', 'block');
            $('#suppliersTab').addClass('active');
        }

        function rolesActive() {
            $('#usersParentTab').addClass('active');
            $('#usersParentTab').addClass('open');
            $('#usersParentTab .arrow').addClass('open');
            $('#usersParentTab .sub-menu').css('display', 'block');
            $('#rolesTab').addClass('active');
        }

        function transactionsActive() {
            $('#transactionsParentTab').addClass('active');
            $('#transactionsParentTab').addClass('open');
            $('#transactionsParentTab .arrow').addClass('open');
            $('#transactionsParentTab .sub-menu').css('display', 'block');
            $('#transactionsTab').addClass('active');
        }

        function transactionsHistoryActive() {
            $('#transactionsParentTab').addClass('active');
            $('#transactionsParentTab').addClass('open');
            $('#transactionsParentTab .arrow').addClass('open');
            $('#transactionsParentTab .sub-menu').css('display', 'block');
            $('#transactionsHistoryTab').addClass('active');
        }


        $(document).ready(function () {

            $('.categoryContainer').mouseenter(function () {
                console.log('Mouse In');

                var element = $(this);
                element.find('.category-image').hide();

                element.find('.category-description').show();
            }).mouseleave(function () {
                console.log('Mouse Out');

                var element = $(this);
                element.find('.category-image').show();

                element.find('.category-description').hide();
            });

        });

        $(document).ready(function () {
            $(".price").digits();
        });

        $.fn.digits = function () {
            return this.each(function () {
                $(this).text($(this).text().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
            })
        }

    </script>

</body>

</html>