@using Inventory.DataObjects.DTO
@using Inventory.WebApplication.Global

@model List<TransactionDTO>

@{
    ViewBag.Title = "TransactionsHistory";
}



<div class="page-content-wrapper">
    <div class="page-content">

        @Html.Partial("_ThemeColors")

        <h1 class="page-title"> @Translation.GetStringValue("TransactionsHistory") </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">@Translation.GetStringValue("TransactionsHistory")</a>
                    <i class="fa fa-angle-right"></i>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <img src="../images/all-items.png" style="width:50px;">
                            <span class="caption-subject bold uppercase"> @Translation.GetStringValue("TransactionsHistory") </span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table id="transactionsHistoryTable" class="table table-striped table-bordered table-hover table-checkable order-column">
                            <thead>
                                <tr>
                                    <th> @Translation.GetStringValue("School") </th>
                                    <th> @Translation.GetStringValue("ItemName") </th>
                                    <th> @Translation.GetStringValue("SerialCode") </th>
                                    <th> @Translation.GetStringValue("Quantity") </th>
                                    <th> @Translation.GetStringValue("FromStatus") </th>
                                    <th> @Translation.GetStringValue("ToStatus") </th>
                                    <th> @Translation.GetStringValue("Description") </th>
                                    <th> @Translation.GetStringValue("StockKeeper") </th>
                                    <th> @Translation.GetStringValue("DateTransfered") </th>
                                    <th> @Translation.GetStringValue("ToWhom") </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (TransactionDTO transaction in Model)
                                    {
                                        <tr class="odd gradeX">
                                            <td class="center">
                                                <span> @transaction.SchoolName </span>
                                            </td>
                                            <td>
                                                <span class="english">@transaction.ItemName</span>
                                                <span class="arabic">@transaction.ItemName_Arabic</span>
                                            </td>
                                            <td>
                                                @(transaction.SerialNumber)
                                            </td>
                                            <td class="center">
                                                <span> @transaction.Quantity </span>
                                            </td>
                                            <td>
                                                <span class="english">@transaction.OldAvailabilityStatus</span>
                                                <span class="arabic">@transaction.OldAvailabilityStatus_Arabic</span>
                                            </td>
                                            <td>
                                                <span class="english">@transaction.NewAvailabilityStatus</span>
                                                <span class="arabic">@transaction.NewAvailabilityStatus_Arabic</span>
                                            </td>
                                            <td>
                                                @transaction.Description
                                            </td>
                                            <td>
                                                @transaction.StockKeeper
                                            </td>
                                            <td>
                                                @(transaction.TransactionDate.ToString("dd-MMM-yyyy"))
                                            </td>
                                            <td>
                                                @transaction.ToWhom
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        transactionsHistoryActive();
    });

    $(document).ready(function () {

        var table = $('#transactionsHistoryTable');


        var cookieVal = $.cookie("language");

        if (cookieVal == 'arabic') {

            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "لا يوجد",
                    "info": "عرض _START_ الى _END_ من _TOTAL_ ",
                    "infoEmpty": "لا يوجد",
                    "infoFiltered": "(filtered1 من _MAX_ العدد)",
                    "lengthMenu": "_MENU_ العدد",
                    "search": "بحث:",
                    "zeroRecords": "لا يوجد"
                },
                "order": [
                    [8, 'desc']
                ],
                "lengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "كل"] // change per page values here
                ],
                "pageLength": 10,
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                buttons: [
                    {
                        extend: 'print',
                        text: 'Print or Save as PDF',
                        className: 'btn dark btn-outline',
                        message: '',
                        customize: function (win) {
                            $(win.document.body).css('font-size', '10pt').prepend('<h2 style="text-align:right;width:100%;"><img src="http://198.71.63.89:2243/Images/logo/ministry-logo.jpg" /></h2>');
                            $(win.document.body).css('font-size', '10pt').prepend('<h2 style="text-align:right;width:100%;">الجمهورية اللبنانية</h2>');
                            $(win.document.body).css('font-size', '10pt').prepend('<h2 style="text-align:right;width:100%;">وزارة الزراعة</h2>');
                            $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                        }
                    },
                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' }
                ]
                //,
                //responsive: true
            });

        }
        else {

            var oTable = table.dataTable({
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "No entries found",
                    "infoFiltered": "(filtered1 from _MAX_ total entries)",
                    "lengthMenu": "_MENU_ entries",
                    "search": "Search:",
                    "zeroRecords": "No matching records found"
                },
                "order": [
                    [0, 'asc']
                ],
                "lengthMenu": [
                    [5, 10, 15, 20, -1],
                    [5, 10, 15, 20, "All"] // change per page values here
                ],
                "pageLength": 10,
                "dom": "<'row' <'col-md-12'B>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable
                buttons: [
                    {
                        extend: 'print',
                        text: 'Print or Save as PDF',
                        className: 'btn dark btn-outline',
                        message: '',
                        customize: function (win) {
                            $(win.document.body).css('font-size', '10pt').prepend('<h2 style="text-align:right;width:100%;"><img src="http://198.71.63.89:2243/Images/logo/ministry-logo.jpg" /></h2>');
                            $(win.document.body).css('font-size', '10pt').prepend('<h2 style="text-align:right;width:100%;">الجمهورية اللبنانية</h2>');
                            $(win.document.body).css('font-size', '10pt').prepend('<h2 style="text-align:right;width:100%;">وزارة الزراعة</h2>');
                            $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                        }
                    },
                    //{ extend: 'pdf', className: 'btn green btn-outline' },
                    //{ extend: 'excel', className: 'btn yellow btn-outline ' }
                ]
                //,
                //responsive: true
            });


        }
    });

</script>