@using Inventory.WebApplication.Global

@model Inventory.DataObjects.EDM.AspNetUser

@{
    ViewBag.Title = "Delete";
}

<div class="page-content-wrapper">
    <div class="page-content">

        @*@Html.Partial("_ThemeColors")*@

        <h1 class="page-title"> @Translation.GetStringValue("Home") </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">@Translation.GetStringValue("Home")</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Translation.GetStringValue("Delete")</span>
                </li>
            </ul>
        </div>
        @*Content starts here*@
        <div class="form-horizontal">
            <h3>@Translation.GetStringValue("AreYouSureYouWantToDeleteThisUser")</h3>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>
            </dl>

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="@Translation.GetStringValue("Delete")" class="btn btn-default" />
                <div style="float:right; padding-left:30px;">
                    @Html.ActionLink(Translation.GetStringValue("BackToList"), "Index")
                </div>
            </div>
        }
        @*Content ends here*@
    </div>
    </div>


<script type="text/javascript">

    $(document).ready(function () {
        usersActive();
    });

</script>