@using Inventory.WebApplication.Global
@using Inventory.DataObjects.EDM

@model IEnumerable<Inventory.DataObjects.EDM.AspNetUser>

@{
    ViewBag.Title = "Index";

    List<School> schools = ViewBag.Schools as List<School>;
}


<div id="resetPasswordModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="float:left;" class="modal-title"> @Translation.GetStringValue("ResetPassword") </h5>
                <button style="float:right;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="userPassword" type="password" class="form-control" placeholder="The new password">
                <p style="color:red; padding-top:10px;">@Translation.GetStringValue("YouWillReceiveAnEmail")</p>
                <p style="color:red;">@Translation.GetStringValue("PleaseCheckYourInbox")</p>
            </div>
            <div class="modal-footer">
                <a id="resetPassword" href="javascript:resetPassword()" class="btn btn-success">@Translation.GetStringValue("Reset")</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translation.GetStringValue("Close")</button>
            </div>
        </div>
    </div>
</div>

<div class="page-content-wrapper">
    <div class="page-content">

        @Html.Partial("_ThemeColors")

        <h1 class="page-title"> @Translation.GetStringValue("Management") </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Home")">@Translation.GetStringValue("Users")</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>@Translation.GetStringValue("List")</span>
                </li>
            </ul>
        </div>
        @*Content starts here*@
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <input id="searchUsers" type="text" class="form-control" placeholder="@Translation.GetStringValue("Search")">
            </div>
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title tabbable-line">
                        <div class="caption">
                            <i class="icon-bubbles font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">@Translation.GetStringValue("Users")</span>
                        </div>
                        <div class="caption createNew" style="float:right;">
                            @Html.ActionLink(Translation.GetStringValue("CreateNew"), "Create")
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="usersContainer">
                                <div class="mt-comments">
                                    @foreach (var user in Model)
                                    {
                                        <div class="mt-comment" data-UserName="@user.UserName" data-UserRole="@user.UserRole">
                                            <div class="mt-comment-img">
                                                <i class="img-circle fa fa-user fa-2x" style="padding:5px;"></i>
                                            </div>
                                            <div class="mt-comment-body">
                                                <div class="mt-comment-info">
                                                    <span class="mt-comment-author">@Html.DisplayFor(modelUser => user.UserName)</span>
                                                    <span class="mt-comment-date">@Translation.GetStringValue("LastLogin"): @Html.DisplayFor(modelUser => user.LastLogin)</span>
                                                </div>
                                                <div class="mt-comment-text">
                                                    <h5>@Translation.GetStringValue("School"): @(user.SchoolID == 0 ? "All" : schools.First(x => x.ID == user.SchoolID).SchoolName_Ar)</h5>
                                                    <h5>@Translation.GetStringValue("Role"): @user.UserRole</h5>
                                                    <h5>@Translation.GetStringValue("Phone"): @Html.DisplayFor(modelUser => user.PhoneNumber)</h5>
                                                </div>
                                                <div class="mt-comment-details">
                                                    <span class="mt-comment-status mt-comment-status-pending">
                                                        @Html.ActionLink(Translation.GetStringValue("Edit"), "Edit", new { id = user.Id })
                                                        |
                                                        @Html.ActionLink(Translation.GetStringValue("Delete"), "Delete", new { id = user.Id })
                                                        |
                                                        <a href="javascript:resetPasswordOpenModal('@user.Id')">@Translation.GetStringValue("ChangePassword")</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*Content ends here*@
    </div>
</div>


<script type="text/javascript">

    $(document).on('input', '#searchUsers', function () {
        var searchValue = $(this).val();
        $('#usersContainer .mt-comment').hide();

        $('#usersContainer .mt-comment').each(function () {
            var userContainer = $(this);
            var username = $(this).attr('data-Username');
            var userrole = $(this).attr('data-UserRole');

            if (username.toLowerCase().indexOf(searchValue) >= 0 || userrole.toLowerCase().indexOf(searchValue) >= 0) {
                console.log('found');
                userContainer.show();
            }
        });
    });


    $(document).ready(function () {
        usersActive();
    });

    function resetPasswordOpenModal(userID) {
        $('#resetPasswordModal #resetPassword').attr('data-userID', userID);
        $('#resetPasswordModal').modal('show');
    };


    function resetPassword() {

        var userID = $('#resetPasswordModal #resetPassword').attr('data-userID');
        var newPassword = $('#userPassword').val();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ResetPassword", "Users")' + '?newPassword=' + newPassword + '&userID=' + userID,
            dataType: 'text',
            success: function (data) {
                alert('Password changed');
                $('#resetPasswordModal').modal('hide');
            }
        });

    };

</script>